<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="artist">
		<section class="artist-first">
			<div class="container">
				<div class="artist-first-flex">
					<div class="artist-first-left">
						<h4 class="artist-first-title">הצטרפות אמנים</h4>
						<h6 class="artist-first-subtitle"> שלנו והתחל למכור<br>הצטרף לאמנים </h6>
						<p class="artist-first-text">I-GALLERY הינה פלטפורמה יעילה, נוחה וחדשנית, המאפשרת לאמן לעבור ל’טייס אוטומטי’ בכל הנוגע לתהליך המכירה, ובכך להתפנות לדבר החשוב ביותר – היצירה. הצוות המקצועי שלנו דואג ליצירת קשר עם קהל רחב, תצוגת עבודות באיכות הגבוהה ביותר, תמחור הוגן הנעשה בשיתוף פעולה, הפקת עבודה בטכנולוגיות מתקדמות ובמגוון רחב של אפשרויות הדפסה ומסגור. בפלטפורמת I-GALLERY לכל אמן ישנו אזור גלריה משלו בו הוא מציג את יצירותיו, מתמחר אותן ומספר על עצמו ועל תהליכי העבודה המאפיינים אותו.</p>
						<p class="artist-first-text">מכך, אנו דואגים לשמור על קשר ישיר עם מאגר הלקוחות שלנו גם לאחר הקנייה, כדי לוודא שביעות רצון גבוהה. זוהי הדרך הנכונה ביותר למכור אמנות בעידן זה. אמנים אשר ימכרו את עבודותיהם באופן עצמאי לחלוטין לרוב “ישרפו” שעות רבות על שיווק, קשר עם לקוחות והפקה בפועל, במקום לנצל את זמנם ואת משאביהם לעיסוק ביצירה עצמה. למזלנו, העידן האינטרנטי פתח בפני האמנים אפשרויות לעבודה מהירה ויעילה בכל הנוגע למכירת העבודות, וזה בדיוק מה שאנו מתמחים בו. הצוות של I-GALLERY מורכב מאנשי אמנות מרכזיים, אשר דואגים להישאר מעודכנים הן ביצירות באתר והן בעולם האמנות הבינלאומי.
							חשוב לדעת, אנו מתנהלים בשקיפות מלאה תוך ניהול דיאלוג פתוח עם האמנים והלקוחות שלנו.</p>
					</div>
					<div class="artist-first-right">
						<img src="img/artist-img1.jpg" alt="" class="artist-first-img artist-first-img_first">
						<img src="img/artist-img2.jpg" alt="" class="artist-first-img artist-first-img_second">
					</div>
				</div>
			</div>
		</section>
		<section class="artist-second">
			<div class="container">
				<h4 class="artist-second-title"> אך זה עובד?</h4>
				<div class="artist-second-list">
					<div class="artist-second-item">
						<div class="artist-second-circle">
							<img src="img/artist-icon1.svg" alt="" class="artist-second-icon">
						</div>
						<p class="artist-second-text"> מעבירים לכם את התמלוגים<br>לאחר מכירה </p>
					</div>
					<div class="artist-second-item">
						<div class="artist-second-circle">
							<img src="img/artist-icon2.svg" alt="" class="artist-second-icon">
						</div>
						<p class="artist-second-text"> מתנהלים מול הלקוח<br>אנחנו משווקים מדפסים </p>
					</div>
					<div class="artist-second-item">
						<div class="artist-second-circle">
							<img src="img/artist-icon3.svg" alt="" class="artist-second-icon">
						</div>
						<p class="artist-second-text"> ומעדכנים תמלוגים<br>מעלים תמונות </p>
					</div>
					<div class="artist-second-item">
						<div class="artist-second-circle">
							<img src="img/artist-icon4.svg" alt="" class="artist-second-icon">
						</div>
						<p class="artist-second-text">אמנים נרשמים</p>
					</div>
				</div>
			</div>
		</section>
		<section class="artist-third">
			<div class="container">
				<p class="artist-third-text">מעונינם להצטרף ל igallery ולהתחיל למכור ?</p>
				<p class="artist-third-text"> לפניכם שלושה מסלולים הצטרפות</p>
				<div class="artist-slider">
					<div class="artist-list swiper-wrapper">
						<div class="artist-item artist-item_first swiper-slide">
							<h6 class="artist-item-title">מסלול חופשי</h6>
							<p class="artist-item-text">
								תיבה ףדב גצומ ןמואה ליפורפ
								<br>לפי תשלום חודשי ללא עמלה
								<br>עם קידום התמונות ברשת ובאתר
							</p>
							<div class="artist-item-price">
								<span class="artist-item-currency">₪</span>
								<span class="artist-item-value">149</span>
							</div>
							<p class="artist-item-subprice">לחודש</p>
							<ul class="artist-item-list">
								<li class="artist-item-item">שיוך לגלריות 3</li>
								<li class="artist-item-item">התאמה לחדר 5</li>
								<li class="artist-item-item">שיוך לקטגוריה 7</li>
								<li class="artist-item-item">שופיחה תואצותב שגדומ</li>
								<li class="artist-item-item">מיקום עדיפות כאמנים מומלצים</li>
								<li class="artist-item-item">פרופיל האומן מוצג בדף הבית</li>
								<li class="artist-item-item artist-item-item_plus">מסלול זהב</li>
							</ul>
							<a href="" class="artist-item-btn"> הצטרף עכשיו</a>
						</div>
						<div class="artist-item artist-item_second swiper-slide">
							<h6 class="artist-item-title">מסלול זהב</h6>
							<p class="artist-item-text">
								שנת התחייבות מסלול
								<br>לפי תשלום חודשי ללא עמלה
								<br>שנת התחייבות מסלול
							</p>
							<div class="artist-item-price">
								<span class="artist-item-currency">₪</span>
								<span class="artist-item-value">99</span>
							</div>
							<p class="artist-item-subprice">לחודש</p>
							<ul class="artist-item-list">
								<li class="artist-item-item">שיוך לגלריות 2</li>
								<li class="artist-item-item">התאמה לחדר 3</li>
								<li class="artist-item-item">שיוך לקטגוריה 5</li>
								<li class="artist-item-item">הופעה בסבב אמני כסף בעמוד הבית חם היום</li>
								<li class="artist-item-item">עדיפות תצוגת תמונות בדף הבית</li>
								<li class="artist-item-item">הצגת התמונות בסבב ברשתות החברתיות</li>
								<li class="artist-item-item artist-item-item_plus">מסלול חופשי</li>
							</ul>
							<a href="" class="artist-item-btn"> הצטרף עכשיו</a>
						</div>
						<div class="artist-item artist-item_third swiper-slide">
							<h6 class="artist-item-title">מסלול חופשי</h6>
							<p class="artist-item-text">
								תשלום עמלה של 20% על המכירות
								<br>ללא תשלום חודשי קבוע.
								<br>פטור מעמלה ל-100 האמנים הראשונים!
							</p>
							<div class="artist-item-price">
								<span class="artist-item-currency">₪</span>
								<span class="artist-item-value">0</span>
							</div>
							<p class="artist-item-subprice">לחודש</p>
							<ul class="artist-item-list">
								<li class="artist-item-item">שיוך לגלריות 1</li>
								<li class="artist-item-item">התאמה לחדר 1</li>
								<li class="artist-item-item">שיוך לקטגוריה 3</li>
								<li class="artist-item-item">פתיחת גלריה אישית מלאה</li>
								<li class="artist-item-item">ללא הגבלה למספר העלאת תמונות</li>
								<li class="artist-item-item">םייתפוקת הריכמ תוחוד</li>
								<li class="artist-item-item">הנומתל הבוגת תורשפא</li>
							</ul>
							<a href="" class="artist-item-btn"> הצטרף עכשיו</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="artist-fourth">
			<div class="container">
				<div class="artist-fourth-content">
					<div class="artist-fourth-overflow">
						<div class="artist-fourth-item">
							<div class="artist-fourth-top">
								<a href="" class="artist-fourth-link">+</a>
								<p class="artist-fourth-title">איך זה עובד?</p>
							</div>
							<p class="artist-fourth-text">GALLERY-I היא פלטפורמה חדשנית, המאפשרת לכם, האמנים, למכור און-ליין הדפסים של עבודותיכם באיכות גבוהה, ובכך לפנות זמן לדבר החשוב באמת – היצירה. כדי לעשות זאת עליכם להירשם לאחד</p>
							<div class="artist-fourth-drop">
								<div class="artist-fourth-drop-overflow">
									<div class="artist-fourth-top">
										<p class="artist-fourth-title">מסלולים</p>
									</div>
									<p class="artist-fourth-text">הטבות לקידום תמונות באתר, וברחבי האינטרנט, בהתאם למסלול הנבחר. ככל שהמסלול יוקרתי יותר, כך תעלה רמת החשיפה של האמן ברשת. גללו למעלה לאזור ‘מסלולים’ ותוכלו ללמוד על שלושת המסלולים המוצעים לאמנים שלנו.</p>
								</div>
							</div>
						</div>
						<div class="artist-fourth-item">
							<div class="artist-fourth-top">
								<a href="" class="artist-fourth-link">+</a>
								<p class="artist-fourth-title">תמחור ללקוחות</p>
							</div>
							<p class="artist-fourth-text">התמחור הסופי ללקוחות מורכב מארבעה רכיבים: תשלום תמלוגים לאמן, עלויות הדפסה, סוג המסגרת ושינוע. אנו עושים כל שביכולותינו לשמור על מחירים הוגנים, מבלי לוותר על איכות הפקה גבוהה.</p>
							<div class="artist-fourth-drop">
								<div class="artist-fourth-drop-overflow">
									<div class="artist-fourth-top">
										<p class="artist-fourth-title">מסלולים</p>
									</div>
									<p class="artist-fourth-text">הטבות לקידום תמונות באתר, וברחבי האינטרנט, בהתאם למסלול הנבחר. ככל שהמסלול יוקרתי יותר, כך תעלה רמת החשיפה של האמן ברשת. גללו למעלה לאזור ‘מסלולים’ ותוכלו ללמוד על שלושת המסלולים המוצעים לאמנים שלנו.</p>
								</div>
							</div>
						</div>
						<div class="artist-fourth-item">
							<div class="artist-fourth-top">
								<a href="" class="artist-fourth-link">+</a>
								<p class="artist-fourth-title">תמחור ללקוחות</p>
							</div>
							<p class="artist-fourth-text">התמחור הסופי ללקוחות מורכב מארבעה רכיבים: תשלום תמלוגים לאמן, עלויות הדפסה, סוג המסגרת ושינוע. אנו עושים כל שביכולותינו לשמור על מחירים הוגנים, מבלי לוותר על איכות הפקה גבוהה.</p>
							<div class="artist-fourth-drop">
								<div class="artist-fourth-drop-overflow">
									<div class="artist-fourth-top">
										<p class="artist-fourth-title">מסלולים</p>
									</div>
									<p class="artist-fourth-text">הטבות לקידום תמונות באתר, וברחבי האינטרנט, בהתאם למסלול הנבחר. ככל שהמסלול יוקרתי יותר, כך תעלה רמת החשיפה של האמן ברשת. גללו למעלה לאזור ‘מסלולים’ ותוכלו ללמוד על שלושת המסלולים המוצעים לאמנים שלנו.</p>
								</div>
							</div>
						</div>
						<div class="artist-fourth-item">
							<div class="artist-fourth-top">
								<a href="" class="artist-fourth-link">+</a>
								<p class="artist-fourth-title">תמחור ללקוחות</p>
							</div>
							<p class="artist-fourth-text">התמחור הסופי ללקוחות מורכב מארבעה רכיבים: תשלום תמלוגים לאמן, עלויות הדפסה, סוג המסגרת ושינוע. אנו עושים כל שביכולותינו לשמור על מחירים הוגנים, מבלי לוותר על איכות הפקה גבוהה.</p>
							<div class="artist-fourth-drop">
								<div class="artist-fourth-drop-overflow">
									<div class="artist-fourth-top">
										<p class="artist-fourth-title">מסלולים</p>
									</div>
									<p class="artist-fourth-text">הטבות לקידום תמונות באתר, וברחבי האינטרנט, בהתאם למסלול הנבחר. ככל שהמסלול יוקרתי יותר, כך תעלה רמת החשיפה של האמן ברשת. גללו למעלה לאזור ‘מסלולים’ ותוכלו ללמוד על שלושת המסלולים המוצעים לאמנים שלנו.</p>
								</div>
							</div>
						</div>
						<div class="artist-fourth-item">
							<div class="artist-fourth-top">
								<a href="" class="artist-fourth-link">+</a>
								<p class="artist-fourth-title">תמחור ללקוחות</p>
							</div>
							<p class="artist-fourth-text">התמחור הסופי ללקוחות מורכב מארבעה רכיבים: תשלום תמלוגים לאמן, עלויות הדפסה, סוג המסגרת ושינוע. אנו עושים כל שביכולותינו לשמור על מחירים הוגנים, מבלי לוותר על איכות הפקה גבוהה.</p>
							<div class="artist-fourth-drop">
								<div class="artist-fourth-drop-overflow">
									<div class="artist-fourth-top">
										<p class="artist-fourth-title">מסלולים</p>
									</div>
									<p class="artist-fourth-text">הטבות לקידום תמונות באתר, וברחבי האינטרנט, בהתאם למסלול הנבחר. ככל שהמסלול יוקרתי יותר, כך תעלה רמת החשיפה של האמן ברשת. גללו למעלה לאזור ‘מסלולים’ ותוכלו ללמוד על שלושת המסלולים המוצעים לאמנים שלנו.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="" class="artist-fourth-more">לטעון יותר</a>
			</div>
		</section>
	</main>

	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
