<!-- header.html -->
<div class="overlay"></div>
<header class="header">
	<div class="container">
		<div class="header-flex-main">
			<div class="header-flex">
				<div class="header-item hover">
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
							<path d="M13.6945 24.5603C13.6945 23.0858 12.4993 21.8906 11.0251 21.8906C9.55067 21.8906 8.35547 23.0858 8.35547 24.56C8.35547 26.0345 9.55067 27.2297 11.0251 27.2297C12.4985 27.2281 13.6929 26.0339 13.6945 24.5603ZM9.30233 24.5603C9.30233 23.6087 10.0735 22.8375 11.0251 22.8375C11.9765 22.8375 12.7476 23.6087 12.7476 24.56C12.7476 25.5116 11.9765 26.2828 11.0251 26.2828C10.074 26.2817 9.30338 25.5111 9.30233 24.5603Z" fill="black"/>
							<path d="M20.9096 27.2297C22.3841 27.2299 23.5793 26.0347 23.5793 24.5603C23.5795 23.0858 22.3843 21.8906 20.9099 21.8906C19.4354 21.8906 18.2402 23.0858 18.2402 24.5603C18.2421 26.0337 19.436 27.2278 20.9096 27.2297ZM20.9096 22.8375C21.861 22.8375 22.6324 23.6087 22.6324 24.56C22.6327 25.5114 21.8612 26.2828 20.9099 26.2828C19.9585 26.2828 19.1871 25.5116 19.1871 24.5603C19.1882 23.6095 19.9588 22.8388 20.9096 22.8375Z" fill="black"/>
							<path class="svg-basket" d="M0.473427 1.68906H3.36128C4.31157 1.68537 5.12184 2.37728 5.26662 3.31674L7.55265 17.7571C7.76849 19.1573 8.97636 20.1889 10.3932 20.1834H24.5236C24.7849 20.1834 24.9971 19.9712 24.9971 19.7099C24.9971 19.4484 24.7849 19.2365 24.5236 19.2365H10.3932C9.44292 19.2402 8.63265 18.548 8.48788 17.6089L8.09925 15.1537H22.5713C23.7966 15.1532 24.8872 14.377 25.2887 13.2196L27.9737 5.47041C28.0242 5.32563 28.0012 5.16553 27.9124 5.04057C27.8234 4.91587 27.6797 4.84164 27.5264 4.84164H6.46656L6.20185 3.16852C5.986 1.76832 4.77813 0.736662 3.36128 0.74221H0.473427C0.21188 0.74221 0 0.954354 0 1.21564C0 1.47718 0.21188 1.68906 0.473427 1.68906ZM26.8612 5.78875L24.3942 12.9095C24.1247 13.6859 23.3932 14.2066 22.5713 14.2069H7.94919L6.61636 5.78849L26.8612 5.78875Z" fill="black"/>
							<path class="svg-hover" d="M0.473427 1.69102H3.36128C4.31157 1.68732 5.12184 2.37923 5.26662 3.31869L7.55265 17.759C7.76849 19.1592 8.97636 20.1909 10.3932 20.1853H24.5236C24.7849 20.1853 24.9971 19.9732 24.9971 19.7119C24.9971 19.4504 24.7849 19.2385 24.5236 19.2385H10.3932C9.44292 19.2422 8.63265 18.55 8.48788 17.6108L8.09925 15.1557H22.5713C23.7966 15.1552 24.8872 14.379 25.2887 13.2216L27.9737 5.47236C28.0242 5.32758 28.0012 5.16748 27.9124 5.04252C27.8234 4.91783 27.6797 4.84359 27.5264 4.84359H6.46656L6.20185 3.17048C5.986 1.77027 4.77813 0.738615 3.36128 0.744163H0.473427C0.21188 0.744163 0 0.956307 0 1.21759C0 1.47914 0.21188 1.69102 0.473427 1.69102Z" fill="black"/>

						</g>
						<defs>
							<clipPath id="clip0">
								<rect width="28" height="28" fill="white"/>
							</clipPath>
						</defs>
					</svg>
					<span class="header-basket-span">2</span>
					<div class="header-basket">
						<div class="header-basket-bg"></div>
						<ul class="header-basket-menu">
							<li class="header-basket-list">
								<div class="header-basket-delete">
									<img src="img/delete.svg" alt="" class="header-basket-delete">
									<div class=""></div>
								</div>

								<div class="header-basket-flex">
									<div class="header-basket-price">
										₪<span>435</span>
									</div>
									<div class="header-basket-quantity">
										<button type="button" class="plus">+</button>
										<input type="number" class="header-basket-input" value="1">
										<button type="button" class="minus">-</button>
									</div>
								</div>
								<div class="header-basket-item">
									<div class="header-basket-flex">
										<p class="header-basket-title">שם תמונה</p>
										<div class="header-basket-info">
											<p>שם האמן</p>
											<p>30 x 25 cm </p>
										</div>
										<div class="">
											<a href="#" class="header-basket-link">פרטים נוספים</a>
										</div>
									</div>
									<div class="header-basket-block">
										<img src="img/basket1.jpg" alt="" class="header-basket-one">
									</div>
								</div>
							</li>
							<li class="header-basket-list">
								<div class="header-basket-delete">
									<img src="img/delete.svg" alt="" class="header-basket-delete">
									<div class=""></div>
								</div>

								<div class="header-basket-flex">
									<div class="header-basket-price">
										₪<span>435</span>
									</div>
									<div class="header-basket-quantity">
										<button type="button" class="plus">+</button>
										<input type="number" class="header-basket-input" value="1">
										<button type="button" class="minus">-</button>
									</div>
								</div>
								<div class="header-basket-item">
									<div class="header-basket-flex">
										<p class="header-basket-title">שם תמונה</p>
										<div class="header-basket-info">
											<p>שם האמן</p>
											<p>30 x 25 cm </p>
										</div>
										<div class="">
											<a href="#" class="header-basket-link">פרטים נוספים</a>
										</div>
									</div>
									<div class="header-basket-block">
										<img src="img/basket1.jpg" alt="" class="header-basket-one">
									</div>
								</div>
							</li>
							<li class="header-basket-list">
								<div class="header-basket-delete">
									<img src="img/delete.svg" alt="" class="header-basket-delete">
									<div class=""></div>
								</div>

								<div class="header-basket-flex">
									<div class="header-basket-price">
										₪<span>435</span>
									</div>
									<div class="header-basket-quantity">
										<button type="button" class="plus">+</button>
										<input type="number" class="header-basket-input" value="1">
										<button type="button" class="minus">-</button>
									</div>
								</div>
								<div class="header-basket-item">
									<div class="header-basket-flex">
										<p class="header-basket-title">שם תמונה</p>
										<div class="header-basket-info">
											<p>שם האמן</p>
											<p>30 x 25 cm </p>
										</div>
										<div class="">
											<a href="#" class="header-basket-link">פרטים נוספים</a>
										</div>
									</div>
									<div class="header-basket-block">
										<img src="img/basket1.jpg" alt="" class="header-basket-one">
									</div>
								</div>
							</li>
						</ul>
						<div class="header-sum">
							<p>
								₪<span class="header-sum-span bold-18">1305</span>
							</p>
							<span class="header-sum-span light">:מחיר סופי</span>
							<div class="header-block"></div>
						</div>
						<div class="header-btns">
							<a href="#" class="btn header-basket-btn">לקנות</a>
							<a href="#" class="btn header-basket-btn">עגלה פתוחה</a>
						</div>
					</div>
				</div>
				<div class="header-item hover">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23.9602 7.49767C23.6099 3.64176 20.8806 0.844212 17.4651 0.844212C15.1895 0.844212 13.106 2.06874 11.9337 4.03132C10.7719 2.04336 8.77378 0.84375 6.53473 0.84375C3.11961 0.84375 0.389913 3.6413 0.0400469 7.49721C0.012353 7.66753 -0.101192 8.56389 0.244059 10.0257C0.741626 12.1341 1.89092 14.0519 3.56687 15.5704L11.9281 23.1581L20.4329 15.5709C22.1089 14.0519 23.2582 12.1346 23.7557 10.0257C24.101 8.56435 23.9874 7.66799 23.9602 7.49767ZM22.8571 9.81427C22.4029 11.7399 21.35 13.4943 19.8153 14.8846L11.9337 21.9165L4.18721 14.8864C2.64974 13.4934 1.59737 11.7395 1.14273 9.81381C0.815938 8.4305 0.950253 7.64907 0.950715 7.64399L0.957638 7.59737C1.25766 4.21918 3.60287 1.76688 6.53473 1.76688C8.69808 1.76688 10.6025 3.09619 11.5062 5.23554L11.9313 6.24314L12.3564 5.23554C13.2459 3.12896 15.2509 1.76734 17.4655 1.76734C20.3969 1.76734 22.7426 4.21964 23.0486 7.64168C23.0495 7.64907 23.1838 8.43096 22.8571 9.81427Z" fill="black"/>
						<path class="svg-hover" d="M23.9602 7.65392C23.6099 3.79801 20.8806 1.00046 17.4651 1.00046C15.1895 1.00046 13.106 2.22499 11.9337 4.18757C10.7719 2.19961 8.77378 1 6.53473 1C3.11961 1 0.389913 3.79755 0.0400469 7.65346C0.012353 7.82378 -0.101192 8.72014 0.244059 10.1819C0.741626 12.2903 1.89092 14.2081 3.56687 15.7267L11.9281 23.3144L20.4329 15.7272C22.1089 14.2081 23.2582 12.2908 23.7557 10.1819C24.101 8.7206 23.9874 7.82424 23.9602 7.65392Z" fill="black"/>
					</svg>
					<span class="header-basket-span">2</span>
					<div class="header-heart">
						<div class="header-basket-bg"></div>
    					<p class="light-14">
							הציור האחרון שנוסף
						</p>
						<img src="img/basket1.jpg" alt="" class="header-heart-img">
						<a href="#" class="header-heart-btn light-12">צפה בהכל</a>
					</div>
				</div>
				<div class="header-item desctop">
					<a href="#" class="header-search">
						<img src="img/search.svg" alt="" class="header-search-img">
					</a>
				</div>
				<a href="#" class="header-btn desctop">עזרה</a>
			</div>
			<a href="#" class="header-logo">
				<img src="img/logo.png" alt="" class="header-logo-img">
			</a>
			<div class="header-flex">
				<div class="header-item mobile">
					<a href="#" class="header-search">
						<img src="img/search.svg" alt="" class="header-search-img">
					</a>
				</div>
				<ul class="header-menu desctop">
					<li class="header-list"><a href="" class="header-link header-link_artist">לאומנים</a></li>
					<li class="header-list"><a href="" class="header-link header-link_register">למשתמשים</a></li>
					<li class="header-list">
						<a href="" class="header-link active">
							<img src="img/user.svg" alt="" class="header-link-img">
							התחברות
						</a>
					</li>
				</ul>
				<div class="header-btn-menu">
					<span class="header-line header-line_top"></span>
					<span class="header-line header-line_center"></span>
					<span class="header-line header-line_bottom"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="header-drop">
		<a href="" class="header-drop-close">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L10.25 10.25M19.5 19.5L10.25 10.25M10.25 10.25L19.5 1L1 19.5" stroke="black"/>
			</svg>
		</a>
		<div class="container">
			<ul class="header-menu-burger">
				<li class="header-list">
					<a href="#" class="header-link">תצלום אישי </a>
				</li>
				<li class="header-list">
					<div class="header-link">גלרית אמנים
						<svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 1L1 4.5L6 8" stroke="black"/>
						</svg>
					</div>
					<ul class="header-first">
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop17.jpg" alt="" class="header-first-img">
								<p class="header-first-text">POP ART</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop18.jpg" alt="" class="header-first-img">
								<p class="header-first-text"> איורים</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop19.jpg" alt="" class="header-first-img">
								<p class="header-first-text">ישראל שלנו </p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop20.jpg" alt="" class="header-first-img">
								<p class="header-first-text">אמנות דיגיטלית </p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop21.jpg" alt="" class="header-first-img">
								<p class="header-first-text">יודיקה</p>
							</a>
						</li>
						<li class="header-first-down">
							<ul class="header-third header-fourth">
								<li class="header-third-block">
									<div class="header-third-flex">
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
										</ul>
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
										</ul>
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
										</ul>
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">שם שם משפחה</a>
											</li>
										</ul>
									</div>
									<div class="header-title bold">םינמאה לכ תא תוארל</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="header-list">
                    <div class="header-link">םיאשונ
						<svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 1L1 4.5L6 8" stroke="black"/>
						</svg>
					</div>
                    <ul class="header-first">
                        <li class="header-first-list">
                            <a href="#" class="header-first-link">
                                <img src="img/drop12.jpg" alt="" class="header-first-img">
                                <p class="header-first-text">POP ART</p>
                            </a>
                        </li>
                        <li class="header-first-list">
                            <a href="#" class="header-first-link">
                                <img src="img/drop13.jpg" alt="" class="header-first-img">
                                <p class="header-first-text"> איורים</p>
                            </a>
                        </li>
                        <li class="header-first-list">
                            <a href="#" class="header-first-link">
                                <img src="img/drop14.jpg" alt="" class="header-first-img">
                                <p class="header-first-text">ישראל שלנו </p>
                            </a>
                        </li>
                        <li class="header-first-list">
                            <a href="#" class="header-first-link">
                                <img src="img/drop15.jpg" alt="" class="header-first-img">
                                <p class="header-first-text">אמנות דיגיטלית </p>
                            </a>
                        </li>
                        <li class="header-first-list">
                            <a href="#" class="header-first-link">
                                <img src="img/drop16.jpg" alt="" class="header-first-img">
                                <p class="header-first-text">יודיקה</p>
                            </a>
                        </li>
                        <li class="header-first-down">
                            <ul class="header-third">
                                <li class="header-block-img">
                                    <img src="img/img1.jpg" alt="" class="header-third-img">
                                    <a href="#" class="header-third-btn">ציור אקראי</a>
                                </li>
                                <li class="header-third-block">
                                    <div class="header-title">אחר</div>
									<div class="header-third-flex">
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="#" class="header-link">מוסיקה</a>
											</li>
											<li class="header-third-list">
												<a href="#" class="header-link">נוספים</a>
											</li>
										</ul>
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="" class="header-link">ספארי</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link"> מדע בדיוני</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link">הומור</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link">טבע</a>
											</li>
										</ul>
										<ul class="header-third-menu">
											<li class="header-third-list">
												<a href="" class="header-link">אוכל</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link">נופים</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link">דמויות</a>
											</li>
											<li class="header-third-list">
												<a href="" class="header-link">מדבר</a>
											</li>
										</ul>
									</div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
				<li class="header-list">
					<div class="header-link">תמונות לבית ולמשרד
						<svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 1L1 4.5L6 8" stroke="black"/>
						</svg>
					</div>
					<ul class="header-first">
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop6.jpg" alt="" class="header-first-img">
								<p class="header-first-text">תמונה אישית שלי</p>
							</a>
						</li>
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop7.jpg" alt="" class="header-first-img">
								<p class="header-first-text">תמונות ממוסגרות</p>
							</a>
						</li>
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop8.jpg" alt="" class="header-first-img">
								<p class="header-first-text">את הכל</p>
							</a>
						</li>
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop9.jpg" alt="" class="header-first-img">
								<p class="header-first-text">גלריית ציורים</p>
							</a>
						</li>
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop10.jpg" alt="" class="header-first-img">
								<p class="header-first-text">גלריית צילומים</p>
							</a>
						</li>
						<li class="header-second-list">
							<a href="#" class="header-first-link">
								<img src="img/drop11.jpg" alt="" class="header-first-img">
								<p class="header-first-text">גלריית צילומים</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="header-list">
					<div class="header-link">קטגוריות ראשיות
						<svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 1L1 4.5L6 8" stroke="black"/>
						</svg>
					</div>
					<ul class="header-first">
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop1.jpg" alt="" class="header-first-img">
								<p class="header-first-text">תמונה אישית שלי</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop2.jpg" alt="" class="header-first-img">
								<p class="header-first-text">תמונות ממוסגרות</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop3.jpg" alt="" class="header-first-img">
								<p class="header-first-text">את הכל</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop4.jpg" alt="" class="header-first-img">
								<p class="header-first-text">גלריית ציורים</p>
							</a>
						</li>
						<li class="header-first-list">
							<a href="#" class="header-first-link">
								<img src="img/drop5.jpg" alt="" class="header-first-img">
								<p class="header-first-text">גלריית צילומים</p>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</header>
<div class="search-popup">
	<a href="" class="search-popup-close">
		<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 1L4 4M7 7L4 4M4 4L7 1L1 7" stroke="#818181"></path>
		</svg>
	</a>
	<form class="home-filed">
		<input type="text" class="home-input">
		<button type="submit" class="home-btn">Search</button>
	</form>
</div>
<div class="help-popup">
	<div class="help-popup-content">
		<a href="" class="help-popup-close">
			<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L4 4M7 7L4 4M4 4L7 1L1 7" stroke="#818181"></path>
			</svg>
		</a>
		<h6 class="help-popup-title">אנחנו כאן לעזור</h6>
		<div class="help-popup-main">
			<div class="help-popup-item">
				<p class="help-popup-name">ןופלט תחיש ונל ןת</p>
				<a href="tel:039997087" class="help-popup-tel">03-9997087</a>
			</div>
			<div class="help-popup-item">
				<p class="help-popup-name">שלח לנו מייל</p>
				<div class="help-popup-row">
					<a href="mailto:management@igallery.co.il" class="help-popup-mail">management@igallery.co.il</a>
					<p class="help-popup-subname">הנהלה</p>
				</div>
				<div class="help-popup-row">
					<a href="artist@igallery.co.il" class="help-popup-mail">artist@igallery.co.il</a>
					<p class="help-popup-subname">אמנים</p>
				</div>
				<div class="help-popup-row">
					<a href="customer@igallery.co.il" class="help-popup-mail">customer@igallery.co.il</a>
					<p class="help-popup-subname">לקחות</p>
				</div>
			</div>
			<form action="" class="help-popup-form">
				<p class="help-popup-text">או להשתמש בטופס יצירת הקשר המהיר שלנו</p>
				<div class="login-form-row">
					<span class="login-form-title">שם </span>
					<input type="text" class="login-form-input" required>
				</div>
				<div class="login-form-row">
					<span class="login-form-title">אימייל</span>
					<input type="email" class="login-form-input" required>
				</div>
				<div class="login-form-row">
					<span class="login-form-title">פרטים</span>
					<textarea class="login-form-input login-form-textarea"></textarea>
				</div>
				<button type="submit" class="login-second-btn help-popup-btn">הצטרף</button>
			</form>
		</div>
	</div>
</div>