<div class="register register_user">
    <div class="register-main">
        <div class="register-left">
            <a href="" class="register-close">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4 4M7 7L4 4M4 4L7 1L1 7" stroke="#818181"/>
                </svg>
            </a>
            <a href="" class="register-logo">
                <img src="img/logo.png" alt="" class="register-logo-img">
            </a>
            <div class="register-left-scroll">
                <div class="register-left-content">
                    <div class="register-left-container">
                        <h4 class="register-left-title">שלום אורח</h4>
                        <p class="register-left-text">הגלריה הישראלית לאמנות  - I gallery -בהרשמה קצרה תהיו חברים ב!</p>
                        <p class="register-left-text"> באזור האישי תוכלו להנות מהנחה קבועה , לצפות בהזמנות שבצעתם , תמונות שאהבתם , ועוד </p>
                        <form action="" class="register-form register-form_user">
                            <h6 class="register-form-title">פרטי משתמש</h6>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">שם פרטי</span>
                                <input type="text" class="login-form-input" required>
                            </div>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">שם משפחה</span>
                                <input type="text" class="login-form-input" required>
                            </div>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">מייל</span>
                                <input type="email" class="login-form-input" required>
                            </div>
                            <h6 class="register-form-title">פרטי התחברות</h6>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">שם משתמש</span>
                                <input type="text" class="login-form-input" required>
                            </div>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">בחר סיסמה (באנגלית)</span>
                                <input type="password" class="login-form-input" required>
                            </div>
                            <div class="login-form-row register-form-row">
                                <span class="login-form-title">וודא סיסמה</span>
                                <input type="password" class="login-form-input" required>
                            </div>
                            <label class="login-form-label">
                                <span class="login-form-span">
                                    בהצטרפות הינך מצהיר כי קראת את התקנון ואתה מסכים
                                    <br>  בלחיצה ע
                                    <a class="login-form-link" href="">ל תנאי השימוש</a>
                                </span>
                                <input type="checkbox" class="login-form-checkbox">
                                <span class="login-form-check">
                                    <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 3.5L5.5 8L12 1.5" stroke="#059FF9" stroke-width="2"></path>
                                    </svg>
                                </span>
                            </label>
                            <label class="login-form-label">
                                <span class="login-form-span">אני לא מעוניין לקבל עדכונים</span>
                                <input type="checkbox" class="login-form-checkbox">
                                <span class="login-form-check">
                                    <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 3.5L5.5 8L12 1.5" stroke="#059FF9" stroke-width="2"></path>
                                    </svg>
                                </span>
                            </label>
                            <button type="submit" class="login-second-btn register-left-btn">הצטרף</button>
                        </form>
                        <a href="" class="register-right-btn">יש לי חשבון</a>
                    </div>
                </div>
            </div>
            <a href="" class="register-left-scrolling">scroll</a>
        </div>
        <div class="register-right">
            <img src="img/register-bg.jpg" alt="" class="register-right-img">
            <a href="" class="register-right-btn">יש לי חשבון</a>
        </div>
        <div class="register-thank">
            <a href="" class="register-close register-close-thank">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4 4M7 7L4 4M4 4L7 1L1 7" stroke="#818181"/>
                </svg>
            </a>
            <p class="register-thank-text">תודה על ההרשמה</p>
        </div>
    </div>
</div>