<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="about about_print">
		<div class="container container_sm">
			<h4 class="about-title">איכות הדפסות ומסגור</h4>
			<div class="about-text">
				<p>מאז יומנו הראשון כחברה, אי שם בשלהי 1994, שמנו לנו למטרה עליונה לא להתפשר על איכות, ותמיד לצעוד יד ביד עם קדמה וידע טכנולוגי בתחום ההדפסות  והמסגור. אנו מקפידים לעמוד בכל התקנים הקשורים</p>
				<p>לצבע וכיול כדי לספק ללקוחותינו את התוצאה המיטבית. המדפסות המעולות שלנו הן מתוצרת חברת EPSON הידועה והמובילה בתחומה בנושאים של פרופילי צבע מדויקים ומסכי EIZO מקצועיים ומכוילים, אשר </p>
				<p> תפסונ הרבח םע דובעל םיאג ונא .הספדהל םייטירקה םירטמרפה ראש לכבו תוידוגינב ,תוריהבב ,תוינועבצב רוקמל ההז היהת תיפוסה האצותה יכ םיחיטבמ ונא וז הרוצב .ימוימוי סיסב לע עבצ תוקידב םיעבצמ</p>
				<p>מהמובילות בתחום, חברת CANSON הצרפתית המייצרת ניירות מסוג Art Fine למעלה מ-450 שנה ונחשבת לחברה המובילה בתחום. בין לקוחותיהם המפורסמים  תמצאו את פאבלו פיקאסו, מארק שגאל ודגה</p>
				<p>תחושה של תלת מימד. בדי הקנבס נמתחים על גבי מסגרת עץ אורן המגיע במבחר גדלים .
					בנוסף לניירות ART FINE אנו מדפיסים על בדי קנבס, גם הם מיוצרים ע”י החברה הצרפתית CANSON. הבדים מיוצרים באיכות גבוהה ומעניקים להדפסה טקסטורה מיוחדת ועומק צבעוני מרהיב, המעניקים</p>
				<p>אנו מדפיסים בהדפסה כימית מסוג Lambda, Mini על נייר Photo הרגיש לאור. נייר זה עובר מספר תהליכים של חשיפה כימית, מפתח, בליץ, פיקסר, שטיפות וכמובן תהליך של ייבוש. זאת על מנת לייצר הפרדת</p>
				<p>רוקמל הנמאנו תקיודמ םיעבצ.</p>
				<p>כדי להשלים את התמונה המלאה ולספק עבודת אמנות במיטבה, אנו מתמחים  בעולם המסגור. המסגרות שלנו מיוצרות בבית המלאכה אשר הוקם לפני למעלה מ-24 שנים. אנו מקפידים לעבוד עם הספקים הטובים</p>
				<p>בתחום ועם חומרי הגלם האיכותיים ביותר: ניירות נטולי חומצה המונעים “הצהבה” (חמצון) של ההדפסה, מגוון רחב של פרופילי עץ עדכניים ביניהם עץ אלון, אורן ומייפל, וכמובן סוגי הזכוכית הטובים בשוק, ביניהם</p>
				<p>זכוכית מט, זכוכית UVI המונעת השתקפויות ומסננת קרני UV. כל הפרמטרים הללו, בשילוב הידע והנסיון שלנו, מייצרים צילום בעל עמידות ארכיונית מושלמת.</p>
				<p>הינה שעתוק מדויק של יצירת אמנות מקורית על כל פרטיה, באמצעות אמצעי צילום או סריקה. אמנים המעוניינים לייצר רפרודוקציות מוזמנים ליצור איתנו קשר במייל artist@igallery.co.il ולברר לגבי
					!אנו מייצרים רפרודוקציות</p>
				<p>רפרודוקציה</p>
				<p> שינוע, עלויות וזמני הדפסה אפשריים.</p>
			</div>
		</div>
	</main>

	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
