<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="about">
		<div class="container container_sm">
			<h4 class="about-title">עלינו</h4>
			<div class="about-text">
				<p>םלועהמו ץראהמ םינמא עפשל הוואר ןולחו המב אוה .הריציל הלודג הבהאו ןוזח לש תיב אוה </p>
				<p> דחוימו דחא תיב ךות לא ונרבצש רישעה ןויסינה םע דחי ונלש עדיהו הבהאה תא גזמל ונל םירשפאמ ךכבו םהיתוריצי תא הב םיגיצמ רשא</p>
				<p>הריציה רבע לא םכתא ןווכלו ץילמהל וחמשי רשא םלועהמו ץראהמ םינמאל תוכיישה תונמוא תוריצי לש בחר ןווגמ ואצמת  I-GALLERY ב .</p>
				<p>רתאב ואצמת הירחאל .הריחבה עגרל דע הנווכהו הצלמה ,הצע לבקל .חותפ חיש הירלגב ןמאו ןמא לוכ םע להנל ולכות .םכרובע תמלשומה</p>
				<p>,םכרובע תרחבנה הריציה תא סיפדהל גאדנ ונא .םילדגהו םיגוסה לוכב תורגסמ לש בחר ןווגמ םע דחי תומייקה תוספדהה יגוס לוכ תא</p>
				<p>.םידדצה לוכל הוושו ןגוה רוחמתו  תונימא ,תוריש ,תוכיא לע הדפקה ידכ ךות לוכהו .םכלש קסעה תיב לא וא ,םכתיבל דע התוא חולשלו םכמעט יפל התוא רגסמל </p>
				<p>ונתוא םיליבומש םהו וניניע דגנל עובק םידמוע ונלש הירלגב םיגיצמה םינמאה לש הריציה שפוחו תונימא תוכיא םע דחי  I-GALLERY ב השיכרהו השילגה תיווח</p>
				<p>קוידב םירחוב םתא .תורישו תוכיא ,תויעוצקמב םירחוב קר אל םתא I-GALLERY םירחוב םתאשכ :ועדתש ונל בושח .ונמוחתב רתויב םיבוטה תויהלו ךישמהל</p>
				<p>.ונלש םלועל יפוי לש תופיט דוע סינכנ םהו ונחנא ,םתא .דחייש םיבר דועו םירייצ ,םירייאמ ,םימלצב .םירחא וא םילארשי .םיקיתוו םיריעצ םירצויב ךומתלו םדקל ונומכ</p>
				<br>
				<p>.ונלוכ לש ןוזחה תא םישגנ דחי</p>
				<p>.הנהמו המיענ היווח םכל םילחאמ</p>
				<p>הבהאב םכלש</p>
				<p>I-GALLERY</p>
			</div>
		</div>
	</main>

	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
