<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"

	<div class="home">
	<section class="home-first">
		<div class="container">
			<h1 class="light">
				ממוסגרות מכל סגנון<br>
				ישראלים מבחר תמונות<br>
				בשיתוף עם אמנים
			</h1>
			<p class="home-first-text">הישראלית לאמנות. הגלריה האינטרנטית</p>
			<form class="home-filed">
				<input type="text" class="home-input">
				<button type="submit" class="home-btn">Search</button>
			</form>

		</div>
	</section>
	<section class="home-second">
		<div class="home-second-slider">
			<a href="#" class="home-second-block">
				<div class="home-second-item">
					<img src="img/main2.png" alt="" class="home-second-img">
					<div class="home-second-hover">
						ציורים<br>
						גלריית
					</div>
				</div>
				<p class="home-second-text">תמונה אישית שלי</p>
			</a>
			<a href="#" class="home-second-block">
				<div class="home-second-item">
					<img src="img/main1.png" alt="" class="home-second-img">
					<div class="home-second-hover">
						ציורים<br>
						גלריית
					</div>
				</div>
				<p class="home-second-text">תמונות ממוסגרות</p>
			</a>
			<a href="#" class="home-second-block">
				<div class="home-second-item">
					<img src="img/main3.png" alt="" class="home-second-img">
					<div class="home-second-hover">
						ציורים<br>
						גלריית
					</div>
				</div>
				<p class="home-second-text">את הכל</p>
			</a>
			<a href="#" class="home-second-block">
				<div class="home-second-item">
					<img src="img/main4.png" alt="" class="home-second-img">
					<div class="home-second-hover">
						ציורים<br>
						גלריית
					</div>
				</div>
				<p class="home-second-text">תמונה אישית שלי</p>
			</a>
			<a href="#" class="home-second-block">
				<div class="home-second-item">
					<img src="img/main5.png" alt="" class="home-second-img">
					<div class="home-second-hover">
						ציורים<br>
						גלריית
					</div>
				</div>
				<p class="home-second-text">גלריית צילומים</p>
			</a>
		</div>
		<div class="home-second-block">
			<p class="home-second-title">
				על הקי?<br>
				אתם מעדיפים<br>
				איזה תמונה

			</p>
		</div>
	</section>
	<section class="home-third">
		<div class="home-third-bg"></div>
		<div class="container">
			<div class="home-third-flex">
				<div class="home-third-col">
					<div class="home-third-item home-third-one">
						<p class="home-third-title">קטגוריות<br>
							אולי לפי</p>
						<span class="home-third-span">טסקט ךורא רואית אל ןאכ בותכל</span>
					</div>
					<a href="#" class="home-third-item home-third-two">
						<img src="img/gallery1.jpg" alt="" class="home-third-img">
						<p class="home-third-text">POP ART</p>
						<div class="home-third-hover">
							<p class=""> אמנות דיגיטלית</p>
							<span class="home-third-fon">נוף</span>
						</div>
					</a>
				</div>
				<div class="home-third-col">
					<a href="#" class="home-third-item home-third-tree">
						<img src="img/gallery2.jpg" alt="" class="home-third-img">
						<p class="home-third-text"> אמנות דיגיטלית</p>
						<div class="home-third-hover">
							<p class=""> אמנות דיגיטלית</p>
							<span class="home-third-fon">נוף</span>
						</div>
					</a>
					<a href="#" class="home-third-item home-third-four">
						<img src="img/gallery3.jpg" alt="" class="home-third-img">
						<p class="home-third-text"> איורים</p>
						<div class="home-third-hover">
							<p class=""> אמנות דיגיטלית</p>
							<span class="home-third-fon">נוף</span>
						</div>
					</a>
				</div>
				<div class="home-third-col">
					<a href="#" class="home-third-item home-third-five">
						<img src="img/gallery4.jpg" alt="" class="home-third-img">
						<p class="home-third-text">יודיקה</p>
						<div class="home-third-hover">
							<p class=""> אמנות דיגיטלית</p>
							<span class="home-third-fon">נוף</span>
						</div>
					</a>
					<a href="#" class="home-third-item home-third-six">
						<img src="img/gallery5.jpg" alt="" class="home-third-img">
						<p class="home-third-text">ישראל שלנו</p>
						<div class="home-third-hover">
							<p class=""> אמנות דיגיטלית</p>
							<span class="home-third-fon">נוף</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="home-gallery">
			<h2 class="home-gallery-title">במיוחד לחדר</h2>
			<div class="home-gallery-flex">
				<a href="#" class="home-gallery-item">
					<img src="img/gallery6.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
				<a href="#" class="home-gallery-item">
					<img src="img/gallery7.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
				<a href="#" class="home-gallery-item">
					<img src="img/gallery8.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
				<a href="#" class="home-gallery-item">
					<img src="img/gallery9.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
				<a href="#" class="home-gallery-item">
					<img src="img/gallery10.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
				<a href="#" class="home-gallery-item">
					<img src="img/gallery11.jpg" alt="" class="home-gallery-img">
					<p class="home-gallery-text"> לחדר עבודה</p>
					<div class="home-third-hover">
						<p class=""> לחדר עבודה</p>
						<span class="home-third-fon">נוף</span>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="home-four">
		<div class="container">
			<h2 class="home-four-title">יותר ספציפי</h2>
			<p class="home-four-subtitle"> מבוקשים בה, אינו ניווט נבחרים מדע אם. לוח מחליטה לעברית לויקיפדיה או. או הבהרה חינוך בהיסטוריה עזה, זקוק תקשורת ביולוגיה סדר של</p>
			<div class="home-four-main">
				<div class="home-four-slider swiper-container">
					<div class="swiper-wrapper">
						<div class="home-four-slide swiper-slide">
							<img src="img/slide1.jpg" alt="" class="home-four-img">
							<p class="home-four-text"> מדע בדיוני</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide2.jpg" alt="" class="home-four-img">
							<p class="home-four-text">ספארי</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide3.jpg" alt="" class="home-four-img">
							<p class="home-four-text">מדבר</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide4.jpg" alt="" class="home-four-img">
							<p class="home-four-text">דמויות</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide5.jpg" alt="" class="home-four-img">
							<p class="home-four-text">נופים</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide6.jpg" alt="" class="home-four-img">
							<p class="home-four-text">אוכל</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide7.jpg" alt="" class="home-four-img">
							<p class="home-four-text">נוספים</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide8.jpg" alt="" class="home-four-img">
							<p class="home-four-text">מוסיקה</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide9.jpg" alt="" class="home-four-img">
							<p class="home-four-text">טבע</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
						<div class="home-four-slide swiper-slide">
							<img src="img/slide10.jpg" alt="" class="home-four-img">
							<p class="home-four-text">הומור</p>
							<a href="" class="home-four-hover">נוף</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev first-btn">
					<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.5 0.5L1 8L8.5 15.5" stroke="black"/>
					</svg>
				</div>
				<div class="swiper-button-next first-btn">
					<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 0.5L8.5 8L1 15.5" stroke="black"/>
					</svg>
				</div>
			</div>
		</div>
	</section>
	<section class="home-fifth">
		<div class="container">
			<div class="home-fifth-main">
				<div class="home-fifth-left">
					<div class="home-fifth-slider swiper-container">
						<div class="swiper-wrapper">
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
							<a href="" class="list-item swiper-slide">
						<span class="list-item-top">
							<img src="img/list-item1.jpg" alt="" class="list-item-img">
						</span>
								<span class="list-item-center">
							<span class="list-item-center-item">
								<img src="img/list-item2.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-center-item">
								<img src="img/list-item3.jpg" alt="" class="list-item-img">
							</span>
							<span class="list-item-hide">
								<img src="img/eye.svg" alt="" class="list-item-icon">
								<span class="list-item-link">נוף</span>
							</span>
						</span>
								<span class="list-item-bottom">
							<span class="list-item-circle">
								<img src="img/circle-photo.jpg" alt="" class="list-item-photo">
							</span>
							<span class="list-item-info">
								<span class="list-item-title">שם שם משפחה</span>
								<span class="list-item-text">מידע נוסף על אמן</span>
							</span>
						</span>
							</a>
						</div>
					</div>
				</div>
				<div class="home-fifth-right">
					<h2 class="home-fifth-title">תכירו את האמנים</h2>
					<p class="home-fifth-subtitle">ציירים. פסלים. צלמים. ואז כמה. גלה את האמנים שהופכים את העולם שלנו להסתובב.</p>
					<div class="home-fifth-arrows">
						<div class="swiper-button-prev second-btn">
							<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.5L1 8L8.5 15.5" stroke="black"/>
							</svg>
						</div>
						<div class="swiper-button-next second-btn">
							<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 0.5L8.5 8L1 15.5" stroke="black"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="home-sixth">
		<div class="container">
			<div class="home-sixth-list">
				<div class="home-sixth-item">
					<div class="home-sixth-block">
						<img src="img/img-item1.jpg" alt="" class="home-sixth-img">
						<span class="home-sixth-label">FACEBOOK</span>
					</div>
					<h6 class="home-sixth-name">כותרת</h6>
					<p class="home-sixth-text"> גם תוכל כניסה כדי. בדף ערבית ספורט בה, כלל נפלו ספינות תחבורה דת. העמוד לעריכת אדריכלות ארץ את. צעד צרפתית חרטומים המקושרים אם.</p>
					<a href="" class="home-sixth-link">לקרוא</a>
				</div>
				<div class="home-sixth-item">
					<div class="home-sixth-block">
						<img src="img/img-item2.jpg" alt="" class="home-sixth-img">
						<span class="home-sixth-label">BLOG</span>
					</div>
					<h6 class="home-sixth-name">בלוג</h6>
					<p class="home-sixth-text"> גם תוכל כניסה כדי. בדף ערבית ספורט בה, כלל נפלו ספינות תחבורה דת. העמוד לעריכת אדריכלות ארץ את. צעד צרפתית חרטומים המקושרים אם.</p>
					<a href="" class="home-sixth-link">לקרוא</a>
				</div>
				<div class="home-sixth-item">
					<div class="home-sixth-block">
						<img src="img/img-item3.jpg" alt="" class="home-sixth-img">
						<span class="home-sixth-label">INSTAGRAM</span>
					</div>
					<h6 class="home-sixth-name">כותרת</h6>
					<p class="home-sixth-text"> גם תוכל כניסה כדי. בדף ערבית ספורט בה, כלל נפלו ספינות תחבורה דת. העמוד לעריכת אדריכלות ארץ את. צעד צרפתית חרטומים המקושרים אם.</p>
					<a href="" class="home-sixth-link">לקרוא</a>
				</div>
			</div>
		</div>
	</section>
	<section class="home-seventh">
		<div class="home-seventh-bg"></div>
		<div class="container">
			<h2 class="home-seventh-title">אהבה אמנות?</h2>
			<p class="home-seventh-text">
				בכתבות, תערוכות מציגות ותמונות
				<br>עקוב אחרינו והישאר מעודכן
			</p>
			<div class="home-seventh-social">
				<a href="" class="home-seventh-link">
					<img src="img/instagram.svg" alt="" class="home-seventh-img">
				</a>
				<a href="" class="home-seventh-link">
					<img src="img/facebook.svg" alt="" class="home-seventh-img">
				</a>
			</div>
		</div>
	</section>
</div>
	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
