<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="blog">
		<section class="blog-top">
			<div class="container">
				<div class="blog-slider">
					<div class="swiper-container blog-slider-top">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<h6 class="blog-top-title">בלוג</h6>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
							</div>
							<div class="swiper-slide">
								<h6 class="blog-top-title">בלוג</h6>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
							</div>
							<div class="swiper-slide">
								<h6 class="blog-top-title">בלוג</h6>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
								<p class="blog-top-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ
									הסינכ לכות םג</p>
							</div>
						</div>
					</div>
					<div class="swiper-button-next">
						<img src="img/arrow-line.svg" alt="" class="info-right-line">
					</div>
					<div class="swiper-button-prev">
						<img src="img/arrow-line.svg" alt="" class="info-right-line">
					</div>
				</div>
			</div>
			<div class="swiper-container blog-slider-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background: url(img/blog-bg.png) no-repeat center/100% 100%">
						<!--<img src="img/blog-bg.png" alt="" class="blog-slider-bg">-->
					</div>
					<div class="swiper-slide" style="background: url(img/blog-bg.png) no-repeat center/100% 100%">
						<!--<img src="img/blog-bg.png" alt="" class="blog-slider-bg">-->
					</div>
					<div class="swiper-slide" style="background: url(img/blog-bg.png) no-repeat center/100% 100%">
						<!--<img src="img/blog-bg.png" alt="" class="blog-slider-bg">-->
					</div>
				</div>
			</div>
		</section>
		<section class="blog-bottom">
			<div class="container">
				<h6 class="blog-bottom-title">בלוג</h6>
				<div class="gallery-main blog-main">
					<a href="" class="gallery-item">
						<div class="blog-main-block">
							<img src="img/blog-img1.jpg" alt="" class="blog-main-img">
						</div>
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-block">
							<img src="img/blog-img2.jpg" alt="" class="blog-main-img">
						</div>
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-block">
							<img src="img/blog-img3.jpg" alt="" class="blog-main-img">
						</div>
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-block">
							<img src="img/blog-img1.jpg" alt="" class="blog-main-img">
						</div>
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-block">
							<img src="img/blog-img1.jpg" alt="" class="blog-main-img">
						</div>
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
					<a href="" class="gallery-item">
						<div class="blog-main-info">
							<h6 class="blog-main-name">בלוג</h6>
							<div class="blog-main-line"></div>
							<p class="blog-main-text">.םא םירשוקמה םימוטרח תיתפרצ דעצ .תא ץרא תולכירדא תכירעל דומעה .תד הרובחת תוניפס ולפנ ללכ ,הב טרופס תיברע ףדב .ידכ הסינכ לכות םג </p>
							<p class="blog-main-date">מרץ 2019 ,14 </p>
						</div>
					</a>
				</div>
				<a href="" class="blog-btn">לטעון יותר</a>
			</div>
		</section>
	</main>

	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
