@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
  .home-four-slider
    padding: 0 50px
  .home-four-img
    height: 156px
  .home-four .swiper-button-prev
    left: -15px
  .home-four .swiper-button-next
    right: -15px
@media only screen and (max-width : 1360px)
  .container
    max-width: 1000px
  .home-second-item
    width: 100%
    padding: 0
  .home-four-img
    height: 175px
  .home-fifth-left .swiper-slide
    padding: 10px
  .footer-left, .footer-bottom-text
    margin-left: 0
  .home-first
    height: auto
  .home-first
    padding: 100px 0 150px
  .home-second-slider
    width: 750px
  .header-menu-burger
    justify-content: space-between
  .header-drop .header-list
    margin: 0
@media only screen and (max-width : 1020px)
  .container
    max-width: 740px
  h1
    font-size: 46px
  .desctop
    display: none
  .header-flex
    max-width: 170px
    justify-content: space-between
  .header-btn-menu
    margin: 0
  .mobile
    display: block
  .mobile.header-item
    margin: 0 0 0 35px
    display: flex
  .home-first
    padding: 70px 0 100px
  .home-second .container
    flex-direction: column-reverse
  .home-second-block_right
    height: auto
    margin: 0!important
    width: 100%
    br
      display: none
  .home-second-right
    width: 100%
  .home-second-title
    text-align: center
  .home-second
    padding: 50px 0 115px
  .home-third-tree
    height: 365px
  .home-third-two
    height: 275px
  .home-third-four
    height: 330px
  .home-third-one
    padding: 50px 0 50px 0
  .home-third-title
    font-size: 42px
  .home-third-col:last-child
    padding-top: 100px
  .home-third-five
    height: 220px
  .home-third-six
    height: 180px
  .home-third-flex
    padding-bottom: 0
  h2
    font-size: 42px
  .home-gallery-text
    font-size: 18px
  .home-four
    padding: 100px 0
  .home-four-img
    height: 163px
  .home-fifth-main
    flex-direction: column-reverse
  .home-fifth
    padding: 80px 0 100px
  .home-fifth-right
    width: 100%
    margin: 0
    align-items: center
  .home-fifth-title, .home-fifth-subtitle
    text-align: center
  .home-fifth-left
    width: 100%
    margin-top: 30px
  .home-fifth-slider .swiper-slide-next.hide, .home-fifth-slider .swiper-slide-prev.hide, .home-fifth-slider .swiper-slide-active.hide
    opacity: 0.1!important
  .home-fifth-left .swiper-slide
    opacity: 0.1!important
    padding: 25px
    &.swiper-slide-active
      opacity: 1!important
  .home-sixth-block
    height: 210px
  .home-sixth
    padding: 100px 0 80px
  .home-seventh-title
    font-size: 70px
  .home-second-slider
    width: 100%
  .header-drop
    display: block!important
    position: fixed
    top: 0
    width: 100%
    left: 0
    padding-left: 70px
    height: 100vh
    overflow:  hidden
    background: transparent
    .container
      max-width: 100%
      padding: 0
      background: #FFffff
  .header-menu-burger
    flex-direction: column-reverse
    padding: 0
    background: #F9F9F9
  .header-drop-close
    display: block
    position: absolute
    left: 0
    top: 0
    background: #FFffff
    display: flex
    align-items: center
    justify-content: center
    width: 70px
    height: 75px
  .header-drop .header-link
    width: 100%
    justify-content: space-between
    direction: ltr
    font-size: 18px
    margin: 0
    padding: 30px 25px 30px 40px
    flex-direction: row-reverse
  .header-list
    border-bottom: 1px solid #DFDFDF
  .header-drop .header-link svg
    display: block
  .header-first
    position: static
    opacity: 1
    pointer-events: auto
  .header-drop .header-list
    flex-direction: column
@media only screen and (max-width : 767px)
  .container
    max-width: 460px
  .header-item
    margin: 0
  .header-flex
    max-width: 120px
  h1
    font-size: 42px
  .home-first
    padding: 130px 0 190px
    background-size: 100% 100%
  .home-first-text
    margin: 35px 0 20px
  .home-filed
    height: 58px
  .home-second-btns
    display: flex
  .home-third-col:last-child
    display: none
  .home-third-col
    width: calc(50% - 8px)
    margin-left: 16px
    margin-right: 0
    &:first-child
      margin-left: 0
  .home-third-item
    margin-bottom: 16px
  .home-third-item.hide
    display: block
  .home-third-four
    height: 212px
  .home-gallery-item
    height: 285px
  .home-gallery-title
    margin: 65px 0 0px
  .home-gallery-btns
    margin: 20px 0 30px
  .home-four
    padding: 70px 0 40px
  .home-four-slider
    padding: 0
  .home-four-img
    height: 197px
  .home-four .swiper-button-next, .home-four .swiper-button-prev
    display: none
  .home-four .home-four-btns .swiper-button-next, .home-four .home-four-btns .swiper-button-prev
    display: block
    height: auto
    width: 27px
    background: none
    border: none
    position: static
    margin: 0
  .home-four-btns
    margin: 0 0 30px
  .home-four-subtitle
    margin: 10px 0 30px
  .home-fifth-arrows .circle
    display: block
  .home-fifth-arrows .swiper-button-next, .home-fifth-arrows .swiper-button-prev
    border: none
    width: 27px
    height: auto
    background: none!important
    margin: 0
    padding: 5px 0
    svg
      width: 6px
      height: 10px
      path
        stroke: #000000!important
  .home-fifth-arrows
    justify-content: center
  .home-four .swiper-button-next:hover path, .home-four .swiper-button-prev:hover path
    stroke: #000000
  .home-fifth-arrows
    margin-top: 25px
  .home-sixth-item
    width: calc(33.33% - 10px)
    margin-right: 15px
  .home-sixth-block
    height: 126px
  .footer-left
    display: none
  .footer-right
    width: 100%
    margin-left: 0
  .home-second-btns
    position: relative
    z-index: 2
  .home-fifth
    padding: 45px 0 50px
  .footer-botto-social
    display: flex
    width: 50%
  .footer-bottom-flex
    flex-wrap: wrap
    align-items: center
  .footer-bottom-left
    width: 100%
    order: 2
    text-align: center
  .footer-bottom-right
    width: 50%
@media only screen and (max-width : 480px)
  .header-flex
    width: 100px
  .header-basket-span
    padding-left: 10px
  h1 br
    display: none
  .home-second-slider .swiper-wrapper
    margin-top: -60px
  .home-third-one
    padding: 30px 0
  .home-third-title
    font-size: 34px
  .home-third-span
    font-size: 14px
    line-height: 18px
    margin-top: 3px
  .home-third-two
    height: 190px
  .home-third-five
    height: 170px
  .home-third-text
    font-size: 16px
    line-height: 21px
  .home-third-tree
    height: 260px
  .home-third-four
    height: 170px
  .home-third-six
    height: 117px
  .home-gallery-text
    font-size: 16px
    top: 20px
  .home-four-img
    height: 155px
    margin-bottom: 5px
  h2
    font-size: 34px
  .home-fifth-subtitle
    font-size: 14px
    margin-top: 10px
  .home-sixth-list
    flex-wrap: wrap
  .home-sixth-item
    width: 100%
    margin: 0 0 5px 0
  .home-sixth-block
    height: 260px
  .home-sixth
    padding: 85px 0 10px
  .home-sixth-link
    margin: 30px 0 10px
  .home-seventh-title
    font-size: 42px
  .home-seventh
    padding: 115px 0 85px
  .home-seventh-text
    margin-top: 20px
  .footer-right-row
    flex-direction: column
  .footer-right-column:nth-child(2)
    position: absolute
    top: calc(100% + 90px)
    left: 0
    padding: 6px 25px
    border-bottom: 1px solid #E0E0E0
    border-top: 1px solid #E0E0E0
    .footer-right-title
      display: none
    .footer-list
      display: flex
      justify-content: space-between
      margin: 0
  .footer-top
    padding: 45px 0 0px
  .footer-right-column
    width: calc(100% + 50px)
    margin-left: -25px
    padding: 0 25px 45px 25px
    margin-bottom: 40px
    &:last-child
      border-bottom: 1px solid #E0E0E0
  .footer-contact
    order: 1
    border-bottom: none
  .footer-form
    margin-top: 0
    padding-bottom: 95px
  .footer-right-row
    position: relative
  .footer-list-link
    font-size: 14px
  .footer-bottom
    border: none
  .footer-bottom-text
    margin-top: 20px
  .home-input
    padding: 0 100px 0 70px
