<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="cart">
		<section class="cart-main">
			<div class="container">
				<h4 class="cart-title">עגלת קניות</h4>
				<form action="" class="cart-list">
					<div class="cart-item">
						<div class="cart-quantity">
							<button type="button" class="cart-quantity-btn plus">+</button>
							<input type="number" class="header-basket-input cart-quantity-input" value="1">
							<button type="button" class="cart-quantity-btn minus">-</button>
						</div>
						<div class="cart-img">
							<img src="img/gallery-item1.jpg" alt="" class="cart-img-img">
						</div>
						<div class="cart-block">
							<h4 class="cart-block-title">שם הציור</h4>
							<div class="cart-block-flex">
								<div class="cart-block-item">
									<p class="cart-block-name">סוג הדפסה ומסגור:</p>
									<p class="cart-block-value">נייר </p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">פספרטו:</p>
									<p class="cart-block-value">צבע  רוחב</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">גודל:</p>
									<p class="cart-block-value">10x10</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">גב קשיח:</p>
									<p class="cart-block-value">גב קשיח</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">סוג נייר:</p>
									<p class="cart-block-value">פוטו </p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">הגנה:</p>
									<p class="cart-block-value">זכוכית מט</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">הדפסה בלבד או מסגור:</p>
									<p class="cart-block-value">הדפסה בלבד</p>
								</div>
							</div>
						</div>
						<div class="cart-left">
							<div class="header-basket-delete">
								<img src="img/delete.svg" alt="" class="header-basket-delete-img">
								<div class=""></div>
							</div>
							<p class="cart-left-price">
								<span class="cart-left-currency">₪</span>
								<span class="cart-left-value">435</span>
							</p>
						</div>
					</div>
					<div class="cart-item">
						<div class="cart-quantity">
							<button type="button" class="cart-quantity-btn plus">+</button>
							<input type="number" class="header-basket-input cart-quantity-input" value="1">
							<button type="button" class="cart-quantity-btn minus">-</button>
						</div>
						<div class="cart-img">
							<img src="img/gallery-item1.jpg" alt="" class="cart-img-img">
						</div>
						<div class="cart-block">
							<h4 class="cart-block-title">שם הציור</h4>
							<div class="cart-block-flex">
								<div class="cart-block-item">
									<p class="cart-block-name">סוג הדפסה ומסגור:</p>
									<p class="cart-block-value">נייר </p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">פספרטו:</p>
									<p class="cart-block-value">צבע  רוחב</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">גודל:</p>
									<p class="cart-block-value">10x10</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">גב קשיח:</p>
									<p class="cart-block-value">גב קשיח</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">סוג נייר:</p>
									<p class="cart-block-value">פוטו </p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">הגנה:</p>
									<p class="cart-block-value">זכוכית מט</p>
								</div>
								<div class="cart-block-item">
									<p class="cart-block-name">הדפסה בלבד או מסגור:</p>
									<p class="cart-block-value">הדפסה בלבד</p>
								</div>
							</div>
						</div>
						<div class="cart-left">
							<div class="header-basket-delete">
								<img src="img/delete.svg" alt="" class="header-basket-delete-img">
								<div class=""></div>
							</div>
							<p class="cart-left-price">
								<span class="cart-left-currency">₪</span>
								<span class="cart-left-value">435</span>
							</p>
						</div>
					</div>
					<div class="cart-bottom">
						<div class="login-form-row cart-bottom-row">
							<span class="login-form-title">הנחת חבר</span>
							<input type="text" class="login-form-input" placeholder="FILLED TEXT CODE">
						</div>
						<div class="login-form-row cart-bottom-row">
							<span class="login-form-title">הנחת קופון</span>
							<input type="text" class="login-form-input">
						</div>
					</div>
					<div class="cart-last">
						<button type="submit" class="cart-last-btn">לריכשה</button>
						<div class="cart-last-info">
							<p class="cart-last-price">
								<span class="cart-last-currency">₪</span>
								<span class="cart-last-currency">445</span>
							</p>
							<p class="cart-last-text">סה"כ לתשלום כולל מע"מ:</p>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>

	@import "footer.html"
	@import "registration.html"
	@import "registration-artist.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
